gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/docs/deployment/android#reference-the-keystore-from-the-app
key.properties
**/*.keystore
**/*.jks

/app/google-services.json

# Archivos de compilación y configuración de CMake
app/cxx/**
app/.cxx/**
app/cxx/Debug**/
app/cxx/Release**/

# Archivos generados de Gradle
gradle-build/**

# Archivos temporales y caches
app/.externalNativeBuild/
app/build/
.gradle/
local.properties
app/cmake_build.json
app/CMakeCache.txt
app/CMakeFiles/